<% provide(:title, "About") %>

<div class="row">
  <div class="col-md-12">
    <div class="well">
    	<h2>About Muse Lyrics</h2>
      <div id="about">
        <blockquote> How can we win when fools can be kings?
          Don't waste your time or time will waste you.
        </blockquote>
      </div>
    </div>
  </div>
</div>