@import "bootstrap-sprockets";
@import "bootstrap";

$red:#ab1a25;
$blue:#002635;
$lightBlue:#013440;
$orange:#d97925;
$tan:#efe7be;

.navbar {
	background-color:$blue;

	.container { 
		padding:0;
	}
}

input[type="search"] {
	background-color:#000;
	border-color:#000;
	text-transform:uppercase;

	&:focus { 
		border-color:#000;
	}

	placeholder { 
		text-transform:uppercase;
	}
}

input[type="submit"], input[type="button"] {
	background-color:$red;
	border-color:$red;
	text-transform:uppercase;


	&:hover {

		border-color:darken($red, 5%);
		background-color:darken($red, 5%);
	}
}

button { 
	background-color:$red;
	border-color:$red;
	color:$orange;
	text-transform:uppercase;

	&:hover {
		border-color:darken($red, 15%);
		background-color:darken($red, 15%);
	}
}

.container.main { 
	/*background-color: rgba(0,0,0,0.4);*/
}

div.well { 
	background-color:$blue;
	border:1px solid $blue;
	padding:3px;

	h2 { 
		color:#efe7be;
		font-size:1.8em;
		font-weight:bold;
		margin:3px 0;
		text-transform:uppercase;
	}

	article { 
		background-color:$tan;
		border-radius:5px;
		margin-bottom:5px;
		padding:10px;

		header { 
			color:$red;
			display:block;

			a { 
				color:$red;
			}

			small { 
				color:gray;
			}
		}

		img { 
			float:left;
			padding-right:8px;
		}
	}
}

div.well.secondary {
	background-color:$orange;
	border:1px solid $orange;

	article { 
		background-color:$orange;
		margin-bottom:5px;
		padding:3px;
	}
}

body { 
	background-color:#000;
	background-image:image-url("2ndlaw.jpg");
	background-repeat: no-repeat;
	background-position:-500px -100px;

}

.voted { 
	color:red;
}

header { 

		display:inline;

	h1 { 
		font-size:5em;
		text-transform:uppercase;
		font-weight: bold;
		background-color:rgba(0,0,0,0.4);

		display:inline-block;

		a { 
			color:$orange;
			text-shadow:#000 -1px -1px 5px;
			text-decoration:overline underline;
			&:hover { 
				color:darken($orange, 10%);
				text-decoration:overline underline;
			}

			&:active, &:focus { 
				color:darken($orange, 10%);
			}
		}

		form { 
			display:inline;
		}
	}
}

.admin-box { 
	legend { 
		padding:10px 0;
	}
}

.album-photo { 
	padding:10px 0;
}

h2 { 
	small { 
		color:orange;
	}
}

footer#page-footer {
	background:#7f7f7f;
 	background:rgba(0,0,0,0.75);
 	border-radius:5px;
	color:#f5f5f5;
	padding:15px;
	margin:10px 0;
	
	small {
		text-decoration:underline overline;
		text-align:center;
		font-size:15px;
		text-transform:uppercase;
	}

	ul { 
		margin:0;
		display:inline-block;

		li { 
			list-style-type:none;
			display:inline;
			padding-right:10px;

			a { 
				color:#f5f5f5;
				font-size:.9em;
				text-transform:uppercase;
			}
		}
	}
}

div#latest-discussions { 

	padding-bottom:10px;

	h2 { 
		color: #cc5c00;
		text-transform: uppercase;
		font-weight: bold;
		margin:0;
		font-size:25px;
		padding:10px;
	}

	article { 
		background-color:#fff;
		padding:10px;
		margin:8px;
		border-radius: 5px;

		header { 
			i { 
				color:gray;
				font-size:.8em;
			}

			small { 
				color:gray;
			}
		}

		img { 
			float:left;
			padding-right:10px;
		}

		&:first-of-type {
			margin-top:0;
		}

		&:last-of-type {
			margin-bottom:0;
		}
	}
}

#albums { 
	background-color:#e7e5d9;	
	border-radius:5px;

	padding-bottom:10px;
	
	h2 { 
		color: #cc5c00;
		text-transform: uppercase;
		font-weight: bold;
		margin:0;
		padding:10px;
		font-size:25px;
	}

	article { 
		margin:10px;

		&:first-of-type {
			margin-top:0;
		}

		&:last-of-type {
			margin-bottom:0;
		}
	}
}

div#songs, div#album, div#song-lyrics { 
	h2 { 
		color:#CC5C00;
		font-size:25px;
		font-weight:bold;
		margin:0;
		text-transform:uppercase;
	}

	a { 
		color:#CC5C00;
	}
}

div#lyrics { 
	padding:15px 0;

	p {
		font-size:1.2em;
	}
}

div#songs { 
	ul {
		margin-top:10px;
		padding-left:0;

		li {
			font-size:1.25em;
			list-style-type:none;

			a { 
				color:darkblue;
			}
		}
	}
}

.alert-warning { 
	background-color:pink;
}

div#contact { 
	textarea { 
		height:300px;
	}
}