// Place all the styles related to the songs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "variables";

textarea#song_lyrics { 
	height:450px;
}

div#search-listings { 
	background:#fff;
	border-radius:5px;
	padding:8px;

	h2 { 
		margin:0 0 10px 0;
	}

	ul {
		padding-left:0;

		li { 
			list-style:none;

			a { 
				font-size:1.3em;
			}
		}
	}
}

div#song-form { 
	@include tan-box;
}