// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#latest-discussions {
	background-color:#e7e5d9;	
	border-radius:5px;

	h1 { 
		color: #cc5c00;
		text-transform: uppercase;
		font-weight: bold;
	}
}
