<div class="container">
	<div class="row">
		<div class="col-md-12">
			<footer id="page-footer">
				<small>&copy; <%= Time.now.strftime("%Y") %> Muse Lyrics</small>

				<ul>
					<li><%= link_to "About", about_path %></li>
					<li><%= link_to "Contact", contact_path %></li>
				</ul>
			</footer>
		</div>
	</div>
</div>